.post-list {
    width: 600px;
    
    display: flex;
  }

.icon-post {
    padding: 20px;
}

.order-menu {
    padding: 20px;
}

.category-menu {
    padding: 20px;
}

.container {
    background: rgb(236, 236, 236)
}

.bg-gray {
    background: rgb(236, 236, 236)
}

.bg {
    background: lightblue
}

.textArea {
    width: 100%;
}